<table>
  <thead>
    <tr class="all-caps left table-head">
      <th>Rim Diameter</th>
      <th>Tyre Size</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <select id="rim-diameter" name="rim-diameter">
          <option value="622">622</option>
          <option value="559">559</option>
        </select>
      </td>
      <td>
        <select id="tyre-size" name="tyre-size">
          <option value="23">23</option>
          <option value="25">25</option>
          <option value="28">28</option>
          <option value="32">32</option>
        </select>
      </td>
  </tr>
</table>
<table>
  <thead>
    <tr class="all-caps left table-head">
      <th>Chainring</th>
      <th colspan="10">Cassette</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <select id="chainring" name="chainring">
          <option value="53,39">53,39</option>
          <option value="52,39">52,39</option>
          <option value="50,36">50,36</option>
          <option value="50,34">50,34</option>
        </select>
      </td>
      <td colspan="10">
        <select id="cassette" name="cassette">
          <option value="11,12,13,14,15,16,17,19,21,23">11,12,13,14,15,16,17,19,21,23</option>
          <option value="12,13,14,15,16,17,19,21,23,25">12,13,14,15,16,17,19,21,23,25</option>
          <option value="12,13,14,15,17,19,21,23,25,28">12,13,14,15,17,19,21,23,25,28</option>
        </select>
      </td>
    </tr>
    <template id="gear-size">
      <tr>
        <td></td><td></td><td></td>
        <td></td><td></td><td></td>
        <td></td><td></td><td></td>
        <td></td><td></td>
      </tr>
    </template>
  </tbody>
</table>
