/* Align left */
.left {
	text-align: left;
}

.table-head {
  border: 1px solid #6A7D14;
  background-color: #DEEA97;
  width:100%;
}
.gear-data td{
	border: 1px solid white;
}

.gear-data td:hover{
	border: 2px solid #6A7D14;
}
